h1.title {
  font-size: var(--font-small-size);
  text-align: center;
  color: #fff;
  font-weight: bold;
}

h2.subtitle {
  font-size: var(--font-medium-size);
  text-align: center;
  color: #fff;
  font-weight: normal;
}
