.topic {
  background-color: #fff;
  color: var(--text-color);
}

.topic .topic__title {
  font-size: var(--font-medium-size);
  text-align: center;
  font-weight: normal;
  margin-bottom: var(--small);
}

.topic__grid_questions {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  
  width: 100%;

  border-right: 1px solid rgba(0, 0, 0, .16);
  border-bottom: 1px solid rgba(0, 0, 0, .16);
}

.question__mark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);

  padding: 0.2rem;

  border-top: 1px solid rgba(0, 0, 0, .16);
  border-left: 1px solid rgba(0, 0, 0, .16);
}

.question__mark.answered {
  background-color: var(--primary-color);
  color: #fff;

  border-top: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
}

.question__mark.current {
  background-color: var(--secondary-color);
  color: #fff;

  border-top: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
}

.question__mark.correct {
  background-color: var(--success-color);
  color: #fff;

  border-top: 1px solid var(--success-color);
  border-left: 1px solid var(--success-color);
}

.question__mark.incorrect {
  background-color: var(--danger-color);
  color: #fff;

  border-top: 1px solid var(--danger-color);
  border-left: 1px solid var(--danger-color);
}
